.reelsContainer {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

.reelsContainer::-webkit-scrollbar {
    display: none;
}

.reel {
    scroll-snap-align: start;
    height: 100vh;
}

.smallScreenImg {
    width: 12rem !important;
    height: 12rem !important;
}

/* Desktop screens - larger images */
@media (min-width: 1024px) {
    .smallScreenImg {
      width: 20rem !important;
      height: 20rem !important;
    }
}

@keyframes slide {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(0);
    }
}
  
.scrollArrowIcon {
    color: gray;
    animation: slide 4s infinite;
}

@media (max-height: 700px) {
    .smallScreenImg {
      width: 6rem !important;
      height: 6rem !important;
    }
}

